<div>
  <h2>Quiz Time</h2>
  <form #testRef="ngForm" (ngSubmit)="submitAnswers(testRef)">
    <div *ngFor="let q of questions;">
      <h3>{{q.question}}</h3>
      <input type="radio" name="{{q.id}}" value={{q.answer1}} disabled="{{submited}}" ngModel><label [ngClass]="classSelector(q.id,q.answer1)">{{q.answer1}}</label><br>
      <input type="radio" name="{{q.id}}" value={{q.answer2}} disabled="{{submited}}" ngModel><label [ngClass]="classSelector(q.id,q.answer2)">{{q.answer2}}</label><br>
      <input type="radio" name="{{q.id}}" value={{q.answer3}} disabled="{{submited}}" ngModel><label [ngClass]="classSelector(q.id,q.answer3)">{{q.answer3}}</label><br>
      <input type="radio" name="{{q.id}}" value={{q.answer4}} disabled="{{submited}}" ngModel><label [ngClass]="classSelector(q.id,q.answer4)">{{q.answer4}}</label><br>
    </div><br>
    <input type="submit" value="Submit">
  </form>
  <br>
  <h3>{{msg}}</h3>
  <br>
</div>